# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# BUILD
# =========================
dist/
build/

# =========================
# DOCKER
# =========================
docker-data/
postgres_data/
**/postgres_data/

# =========================
# OS / EDITOR
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
